//- mixin adding img list for menu button
mixin add_list_item(item)
    div.nav-item
        p=item[0]
        div.item-img-container
            img.item-img(src=require("../images/expand_more.png") alt="expand_more")
            
mixin header__nav
    ul.header__nav
                each item, index in nav_arr
                    if(item.length>1)
                        if(index==0)
                            li.nav-active=item 
                                +add_list_item(item)
                        else 
                            li 
                                +add_list_item(item)
                    else 
                        if(index==0)
                            li.nav-active=item
                        else
                            li=item[0]